<div class="tab-content">
	<div class="tab-pane active" id="horizontal-form">
		<mother-form></mother-form>
	</div>
	<div class="tab-pane" id="bordered-row">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="focusedinput" class="col-sm-2 control-label">Last Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="focusedinput" placeholder="">
				</div>
				<div class="col-sm-2">
					<p class="help-block">Your help text!</p>
				</div>
			</div>
			<div class="form-group">
				<label for="focusedinput" class="col-sm-2 control-label">First Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="focusedinput" placeholder="">
				</div>
				<div class="col-sm-2">
					<p class="help-block">Your help text!</p>
				</div>
			</div>
			<div class="form-group">
				<label for="focusedinput" class="col-sm-2 control-label">Middle Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="focusedinput" placeholder="">
				</div>
				<div class="col-sm-2">
					<p class="help-block">Your help text!</p>
				</div>
			</div>
			<div class="form-group">
				<label for="focusedinput" class="col-sm-2 control-label">Nickname</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="focusedinput" placeholder="">
				</div>
				<div class="col-sm-2">
					<p class="help-block">Your help text!</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Date of birth</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-addon">MMDDYYYY</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="focusedinput" class="col-sm-2 control-label">Age</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="focusedinput" placeholder="">
				</div>
				<div class="col-sm-2">
					<p class="help-block">Your help text!</p>
				</div>
			</div>
			<br>
			<div class="form-group">
				<label for="checkbox" class="col-sm-2 control-label">Address</label>
				<div class="col-sm-8">
					<div class="checkbox block"><label><input type="checkbox"> Mother Address</label></div>
				</div>
			</div>
			<div class="form-group">
				<label for="focusedinput" class="col-sm-2 control-label">Street</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="focusedinput" placeholder="">
				</div>
				<div class="col-sm-2">
					<p class="help-block">Your help text!</p>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Apt</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-addon">ex. Apt 1017</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="focusedinput" class="col-sm-2 control-label">City</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="focusedinput" placeholder="">
				</div>
				<div class="col-sm-2">
					<p class="help-block">Your help text!</p>
				</div>
			</div>
			<div class="form-group">
				<label for="selector1" class="col-sm-2 control-label">State</label>
					<div class="col-sm-8">
						<select name="selector1" id="selector1" class="select form-control" placeholder="">
							<option selected></option>
							<option>First option</option>
							<option>Second option</option>
							<option>And another one</option>
						</select>
					</div>
			</div>
			<div class="form-group">
				<label for="focusedinput" class="col-sm-2 control-label">ZIP</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="focusedinput" placeholder="">
				</div>
				<div class="col-sm-2">
					<p class="help-block">Your help text!</p>
				</div>
			</div>
			<div class="form-group">
				<label for="selector1" class="col-sm-2 control-label">Country</label>
					<div class="col-sm-8">
						<select name="selector1" id="selector1" class="select form-control" placeholder="">
							<option selected>United States</option>
							<option>First option</option>
							<option>Second option</option>
							<option>And another one</option>
						</select>
					</div>
			</div>
			<br>
			<div class="form-group">
				<label for="focusedinput" class="col-sm-2 control-label">Home Phone</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="focusedinput" placeholder="">
				</div>
				<div class="col-sm-2">
					<p class="help-block">Your help text!</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Work Phone</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input type="text" class="form-control">
						<div class="input-group-addon">Ext. <input type="text" class="form-control" style="width: 60px;"></div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Cell Phone</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="focusedinput" placeholder="">
					</div>
					<div class="col-sm-2">
						<p class="help-block">Your help text!</p>
					</div>
				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Email</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="focusedinput" placeholder="">
					</div>
					<div class="col-sm-2">
						<p class="help-block">Your help text!</p>
					</div>
				</div>



			</form>
		</div>

		<div class="tab-pane" id="tabular-form">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Last Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="focusedinput" placeholder="">
					</div>
					<div class="col-sm-2">
						<p class="help-block">Your help text!</p>
					</div>
				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="focusedinput" placeholder="">
					</div>
					<div class="col-sm-2">
						<p class="help-block">Your help text!</p>
					</div>
				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Middle Name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="focusedinput" placeholder="">
					</div>
					<div class="col-sm-2">
						<p class="help-block">Your help text!</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Date of birth</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input type="text" class="form-control">
							<span class="input-group-addon">MMDDYYYY</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Age</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="focusedinput" placeholder="">
					</div>
					<div class="col-sm-2">
						<p class="help-block">Your help text!</p>
					</div>
				</div>
				<br>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Home Phone</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="focusedinput" placeholder="">
					</div>
					<div class="col-sm-2">
						<p class="help-block">Your help text!</p>
					</div>
				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Cell Phone</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="focusedinput" placeholder="">
					</div>
					<div class="col-sm-2">
						<p class="help-block">Your help text!</p>
					</div>
				</div>
				<div class="form-group">
					<label for="focusedinput" class="col-sm-2 control-label">Relationship</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="focusedinput" placeholder="">
					</div>
					<div class="col-sm-2">
						<p class="help-block">Your help text!</p>
					</div>
				</div>



			</form>
		</div>
		
	</div>